.login-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/bg-login.jpg") no-repeat center;
  background-size: cover;
}
.login-container .login-wrapper {
  border-radius: 10px;
  padding: 40px 30px;
  background-color: #ffffff;
}

.login-form {
  width: 500px;
}

/* Generate Margin */
.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

/* Generate Padding */
.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

/* Generate Margin */
.m-l-15 {
  margin-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

/* Generate Padding */
.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

/* Generate Margin */
.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

/* Generate Padding */
.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

/* Generate Margin */
.m-l-30 {
  margin-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

/* Generate Padding */
.p-l-30 {
  padding-left: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

/* Generate Margin */
.m-l-40 {
  margin-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

/* Generate Padding */
.p-l-40 {
  padding-left: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.disabled-half {
  pointer-events: none;
  opacity: 0.5;
}

* {
  padding: 0;
  margin: 0;
}

.size-14 {
  font-size: 0.875rem;
}

.size-16 {
  font-size: 1rem;
}

.size-18 {
  font-size: 1.125rem;
}

.size-20 {
  font-size: 1.25rem;
}

.size-22 {
  font-size: 1.375rem;
}

.size-24 {
  font-size: 1.5rem;
}

.size-32 {
  font-size: 2rem;
}

.size-36 {
  font-size: 2.25rem;
}

.size-42 {
  font-size: 2.625rem;
}

.size-62 {
  font-size: 3.875rem;
}

.admin-header {
  height: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

/* optional Container STYLES */
.chart {
  height: calc(100vh - 100px);
  margin: 5px;
  width: calc(100vw - 5px);
}

.Treant .collapse-switch {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}
.Treant .collapsed .collapse-switch {
  background-color: transparent !important;
}
.Treant .collapsed .collapse-switch:after {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  bottom: -24px;
}

.tree-node {
  padding: 2px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 200px;
  font-size: 12px;
}
.tree-node img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}